html {
  height: 100%;
  width: 100%;
}

img {
  width: 200px;
  border-radius: 10px;
}

body {
  text-align: center;
  font-family: 'Courier New';
  background: aliceblue;
  color: teal;
}

code {
  font-family: monospace;
  color: white;
  background-color: black;
  padding: 2px;
  font-size: 125%;
}

a {
  color: teal !important;
}
